.neon {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__name {
  	//5rem
    font-size: 3.5rem;
    font-family: 'NeonBines';
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
  }

  &__profession {
  	//2.5rem
  	font-size: 1.5rem;
    font-family: 'Neon';
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
  }


  &__link {
	font-size: 1.5rem;
	color: #828282;
	text-decoration: none;
	border: 2px solid #828282;
    padding: 0.5rem 1.5rem;
	
	&:focus,
	&:hover {
    color: #c6e2ff;
		text-shadow:
    0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(202,228,225,0.34),
    0 0 4px rgba(30,132,242,0.52),
    0 0 7px rgba(30,132,242,0.92),
    0 0 11px rgba(30,132,242,0.78),
    0 0 16px rgba(30,132,242,0.92);
	}
  }

}



/*-- Animation Keyframes --*/
@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}



/*-- Media Queries --*/
@media (min-width: 768px) {
	.neon {
		&__name {
			font-size: 4rem;
		}
		&__profession {
			font-size: 2rem;
		}
	}
}