<section class="">
	<div class="container">
		<div class="row vh-100 justify-content-center align-items-center">
			<div class="col-12">


				<div class="wrapper">
				  <svg viewBox="0 0 960 300">
				    <symbol id="s-text">
				      <text text-anchor="middle" x="50%" y="80%">Daniel Montes</text>
				    </symbol>

				    <g class = "g-ants">
				      <use xlink:href="#s-text" class="text-copy"></use>
				      <use xlink:href="#s-text" class="text-copy"></use>
				      <use xlink:href="#s-text" class="text-copy"></use>
				      <use xlink:href="#s-text" class="text-copy"></use>
				      <use xlink:href="#s-text" class="text-copy"></use>
				    </g>
				  </svg>
				</div>

				<div class="text-center text-white">
					<p class="fs-4">Desarrollador de Software</p>
					<a class="text-link" type="button" [routerLink]="['/projects']">Mis Proyectos</a>
				</div>


			</div>
		</div>
	</div>		
</section>
