@font-face {
	font-family: Neon;
	src: url('./assets/fonts/NEON.otf');
}

@font-face {
	font-family: NeonBines;
	src: url('./assets/fonts/NeonBines.ttf');
}



body {
	min-height: 100vh;
	background-image: url('./assets/images/bricks_background.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}
